* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
}

.header {
  font-size: 2.5em;
  margin-top: 20px;
  text-align: center;
  color: #ffdd57;
}

.banner {
  width: 100%;
  overflow: hidden;
  height: 300px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artister-h3 {
  font-size: 2em;
  text-align: left;
  color: #ffdd57;
}

.container-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-top: 30px;
}

.card {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  max-width: 90%;
  padding: 8px;
}

.artist-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

.card span {
  color: #ffdd57;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.card:hover h3 {
  transform: scale(1.2);
  transition: font-size 0.3s ease;
}

.card h3 {
  font: 400px;
  margin: 0;
  color: #ffdd57;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  transition: transform 0.3s ease;
}

.card p:nth-last-child(-n + 3) {
  text-align: left;
  margin-left: 10px;
}

.card:hover p:last-child {
  font-size: 20px;
  transition: font-size 0.3s ease;
  color: orange;
}

/* Dropdown*/
#genre-select {
  background-color: rgba(255, 106, 0, 0.8);
  color: white;
  width: 120px;
  border: 2px solid #ffdd57;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 20px;
  z-index: 10;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.filter-container label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffdd57;
  text-align: center;
}

#genre-select:focus {
  outline: none;
  border-color: #ff6a00;
  background-color: rgba(255, 106, 0, 1);
}

#genre-select:hover {
  background-color: rgba(255, 106, 0, 1);
  cursor: pointer;
}

#genre-select option {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  font-size: 16px;
}

.footer {
  width: 100%;
  background-color: #ff6a00;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

/* Media Queries för större skärmar */
@media (min-width: 768px) {
  .container-div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90vw;
  }

  .card {
    width: 45%;
    margin-bottom: 20px;
  }

  .filter-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
